<a href="https://colab.research.google.com/github/snehasaini21/HR-Analytics-dashboard/blob/main/Big_Data_Analytics_using_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [4]:
spark

In [49]:
df = spark.read.csv('/content/eCommercePK.csv', header = True, inferSchema=True )

**1. Display Top 3 Rows of the Dataset**

In [12]:
df.show(3)

+--------+------------+------------+----------+--------+---+--------+-----+-------+
|order_id|order_status|order_source|order_date|category|sku|quantity|sales|   city|
+--------+------------+------------+----------+--------+---+--------+-----+-------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|Dng|       1| 1590|Karachi|
|   14127|     Shipped|         Web|08/01/2025|      CK|DIY|       1|  899|Karachi|
|   14213|     Shipped|         Web|19/01/2025|      CK|DIY|       1|  899|Karachi|
+--------+------------+------------+----------+--------+---+--------+-----+-------+
only showing top 3 rows

**2.** **Display Datatypes of Each Column**

In [13]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_source: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- category: string (nullable = true)
 |-- sku: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- sales: integer (nullable = true)
 |-- city: string (nullable = true)

**3. Display Column Names**

In [14]:
df.columns

['order_id',
 'order_status',
 'order_source',
 'order_date',
 'category',
 'sku',
 'quantity',
 'sales',
 'city']

**4. Count Number of Rows and Columns of the dataset**

In [18]:
df.count()

797

In [19]:
len(df.columns)

9

**5.Get Overall Statistics About The Dataset**

In [22]:
df.describe().show()

+-------+------------------+------------+------------+----------+--------+------+-------------------+------------------+-----------+
|summary|          order_id|order_status|order_source|order_date|category|   sku|           quantity|             sales|       city|
+-------+------------------+------------+------------+----------+--------+------+-------------------+------------------+-----------+
|  count|               797|         797|         797|       797|     797|   797|                797|               797|        797|
|   mean| 16662.68757841907|        NULL|        NULL|      NULL|    NULL|  NULL| 1.0589711417816814|1925.6850690087829|       NULL|
| stddev|50759.151027788255|        NULL|        NULL|      NULL|    NULL|  NULL|0.42270419872343157| 1093.164198446063|       NULL|
|    min|              5444|      Booked|         Web|01/01/2025|      CK|001-12|                  1|               899|ABDUL HAKIM|
|    max|           1413666|     Shipped|    Whatsapp|31/05/2025|      WD|   pta|                  8|             13500| کھڈیاں خاص|
+-------+------------------+------------+------------+----------+--------+------+-------------------+------------------+-----------+

**6. Find Unique Values Available in the City column**

In [28]:
unique_city = df.toPandas()['city'].unique()
unique_city

array(['Karachi', 'Lahore', 'Hyderabad', 'Islamabad', 'Jampur', 'Swabi',
       'Sambrial', 'Rawalpindi', 'Sialkot', 'Muzaffargarh', 'Sargodha',
       'Sadiqabad', 'Charsadda', 'Gujrat', 'Mingora (swat)', 'Faisalabad',
       'Kark', 'Gujranwala', 'Bahawalpur', 'Rahim yar khan', 'Mardan',
       'bannu', 'Multan', 'Burewala', 'Dharki', 'Shorkot Cantt.',
       'Mirpur (a. K)', 'Mianwali', 'Jamshoro', 'Quetta',
       'Nowshera virkan', 'Sahiwal', 'Jhelum', 'KHAIR PUR MEERU',
       'Peshawar', 'Pindi bhattian', 'Raiwind', 'MIRAN SHAH', 'Taxila',
       'Mansehra', 'DAULAT PUR', 'Pattoki', 'Mailsi', 'Arifwala',
       'Shikarpur', 'Sheikhupura', 'Kasur', 'Abbottabad', 'Khairpur',
       'Turbat', 'Wah Cantt', 'Kamoki', 'KAMBER ALI KHAN', 'Kandhkot',
       'GILGIT', 'Sukkur', 'Khanpur', 'ABDUL HAKIM', 'Kharian',
       'Tando ala yar', 'Hasilpur', 'Gujar Khan', 'Mirpur Khas',
       'BHAKKAR', 'Kabir Wala', 'Moro', 'Chistian', 'Sehwan', 'Depalpur',
       'Tando Adam', 'Dera ala yar', 'SANGHAR', 'Hafizabad',
       'Chicha Watni', 'Chakwal', 'Khanewal', 'Nawab Shah', 'Lodhran',
       'Dera Ghazi Khan', 'Vehari', 'DARGAI', 'Batkhela', 'RENALAKHURD',
       'Liaqatpur', 'Dera Ismail Khan', 'Retra', 'Okara', 'Zaida',
       'Mandi Bahauddin', 'DIGRI', 'Lakki Marwat', 'Bahawalnagar',
       'کھڈیاں خاص', 'Larkana', 'Batkhela Distt Malakand', 'kot addu',
       'Pakpattan', 'Toba Tek Sing', 'Nowshera', 'Ghotki'], dtype=object)

In [29]:
len(unique_city)

100

**7. How to Select Single Column**

In [30]:
df.show()

+--------+------------+------------+----------+--------+--------+--------+-----+-------+
|order_id|order_status|order_source|order_date|category|     sku|quantity|sales|   city|
+--------+------------+------------+----------+--------+--------+--------+-----+-------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|     Dng|       1| 1590|Karachi|
|   14127|     Shipped|         Web|08/01/2025|      CK|     DIY|       1|  899|Karachi|
|   14213|     Shipped|         Web|19/01/2025|      CK|     DIY|       1|  899|Karachi|
|   14333|     Shipped|         Web|05/02/2025|      CK| Simply9|       1|  990|Karachi|
|   14397|     Shipped|         Web|16/02/2025|      CK| Simply9|       1|  990|Karachi|
|   14517|     Shipped|         Web|19/03/2025|     GfT|  Eidi2p|       1|  999|Karachi|
|   14265|     Shipped|         Web|25/01/2025|      CK|   Geo12|       1| 1090|Karachi|
|   14325|     Shipped|         Web|03/02/2025|      CK|   Geo12|       1| 1090|Karachi|
|   14356|     Shipped|         Web|08/02/2025|      CK|   Geo12|       1| 1090|Karachi|
|   14451|     Shipped|         Web|26/02/2025|      CK|   Geo12|       1| 1090|Karachi|
|   14765|     Shipped|         Web|23/05/2025|      CK|Simply12|       1| 1090|Karachi|
|    5462|     Shipped|    Whatsapp|05/03/2025|      WD|Triangle|       1| 1090|Karachi|
|   14171|     Shipped|         Web|13/01/2025|      CK| Minim12|       1| 1190|Karachi|
|   14183|     Shipped|         Web|15/01/2025|      CK|  Gear12|       1| 1190|Karachi|
|   14201|     Shipped|         Web|17/01/2025|     HNS|  201-12|       1| 1190|Karachi|
|   14216|     Shipped|         Web|19/01/2025|      CK| Minim12|       1| 1190|Karachi|
|   14291|     Shipped|         Web|28/01/2025|      CK| Swirl15|       1| 1190|Karachi|
|   14342|     Shipped|         Web|06/02/2025|      WD| Circles|       1| 1190|Karachi|
|   14342|     Shipped|         Web|06/02/2025|      CK| Minim12|       1| 1190|Karachi|
|   14351|     Shipped|         Web|07/02/2025|      CK| Minim12|       1| 1190|Karachi|
+--------+------------+------------+----------+--------+--------+--------+-----+-------+
only showing top 20 rows

In [31]:
df.select('city').show()

+-------+
|   city|
+-------+
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
+-------+
only showing top 20 rows

**8. How to select multiple columns**

In [32]:
df.select('city', 'sales').show()

+-------+-----+
|   city|sales|
+-------+-----+
|Karachi| 1590|
|Karachi|  899|
|Karachi|  899|
|Karachi|  990|
|Karachi|  990|
|Karachi|  999|
|Karachi| 1090|
|Karachi| 1090|
|Karachi| 1090|
|Karachi| 1090|
|Karachi| 1090|
|Karachi| 1090|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
|Karachi| 1190|
+-------+-----+
only showing top 20 rows

**10. Create New Column Total Sales Value And Also Update Existing DataFrame**

In [59]:
from pyspark.sql.functions import col

df = df.withColumn("total_value", col("quantity") * col("sales"))

df.show()

+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|order_id|order_status|order_source|order_date|category|Stock_Keeping_Unit|quantity|sales|   city|total_value|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|               Dng|       1| 1590|Karachi|       1590|
|   14127|     Shipped|         Web|08/01/2025|      CK|               DIY|       1|  899|Karachi|        899|
|   14213|     Shipped|         Web|19/01/2025|      CK|               DIY|       1|  899|Karachi|        899|
|   14333|     Shipped|         Web|05/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|
|   14397|     Shipped|         Web|16/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|
|   14517|     Shipped|         Web|19/03/2025|     GfT|            Eidi2p|       1|  999|Karachi|        999|
|   14265|     Shipped|         Web|25/01/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14325|     Shipped|         Web|03/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14356|     Shipped|         Web|08/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14451|     Shipped|         Web|26/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14765|     Shipped|         Web|23/05/2025|      CK|          Simply12|       1| 1090|Karachi|       1090|
|    5462|     Shipped|    Whatsapp|05/03/2025|      WD|          Triangle|       1| 1090|Karachi|       1090|
|   14171|     Shipped|         Web|13/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14183|     Shipped|         Web|15/01/2025|      CK|            Gear12|       1| 1190|Karachi|       1190|
|   14201|     Shipped|         Web|17/01/2025|     HNS|            201-12|       1| 1190|Karachi|       1190|
|   14216|     Shipped|         Web|19/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14291|     Shipped|         Web|28/01/2025|      CK|           Swirl15|       1| 1190|Karachi|       1190|
|   14342|     Shipped|         Web|06/02/2025|      WD|           Circles|       1| 1190|Karachi|       1190|
|   14342|     Shipped|         Web|06/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14351|     Shipped|         Web|07/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
only showing top 20 rows

**11. Finding unique values available in Quantity**

In [60]:
unique_quantity = df.toPandas()['quantity'].unique()
unique_quantity

array([1, 5, 2, 3, 4, 8], dtype=int32)

**12. Rename sku Column And Give New Column Name as 'Stock Keeping Unit'**

In [61]:
df = df.withColumnRenamed('sku', 'Stock_Keeping_Unit')

In [62]:
df.show()

+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|order_id|order_status|order_source|order_date|category|Stock_Keeping_Unit|quantity|sales|   city|total_value|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|               Dng|       1| 1590|Karachi|       1590|
|   14127|     Shipped|         Web|08/01/2025|      CK|               DIY|       1|  899|Karachi|        899|
|   14213|     Shipped|         Web|19/01/2025|      CK|               DIY|       1|  899|Karachi|        899|
|   14333|     Shipped|         Web|05/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|
|   14397|     Shipped|         Web|16/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|
|   14517|     Shipped|         Web|19/03/2025|     GfT|            Eidi2p|       1|  999|Karachi|        999|
|   14265|     Shipped|         Web|25/01/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14325|     Shipped|         Web|03/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14356|     Shipped|         Web|08/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14451|     Shipped|         Web|26/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|
|   14765|     Shipped|         Web|23/05/2025|      CK|          Simply12|       1| 1090|Karachi|       1090|
|    5462|     Shipped|    Whatsapp|05/03/2025|      WD|          Triangle|       1| 1090|Karachi|       1090|
|   14171|     Shipped|         Web|13/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14183|     Shipped|         Web|15/01/2025|      CK|            Gear12|       1| 1190|Karachi|       1190|
|   14201|     Shipped|         Web|17/01/2025|     HNS|            201-12|       1| 1190|Karachi|       1190|
|   14216|     Shipped|         Web|19/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14291|     Shipped|         Web|28/01/2025|      CK|           Swirl15|       1| 1190|Karachi|       1190|
|   14342|     Shipped|         Web|06/02/2025|      WD|           Circles|       1| 1190|Karachi|       1190|
|   14342|     Shipped|         Web|06/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
|   14351|     Shipped|         Web|07/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
only showing top 20 rows

**13. Display the city having sales greater than 3000**

In [64]:
df.filter('sales > 3000').select('city').show()

+-------+
|   city|
+-------+
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
|Karachi|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
| Lahore|
+-------+
only showing top 20 rows

**14. Display total_value and city having sales greater than 3000**

In [65]:
df.filter('sales > 3000').select('total_value', 'city').show()

+-----------+-------+
|total_value|   city|
+-----------+-------+
|       3190|Karachi|
|       3390|Karachi|
|       3390|Karachi|
|       3390|Karachi|
|       3390|Karachi|
|       3390|Karachi|
|       3390|Karachi|
|       3690|Karachi|
|       3190| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3390| Lahore|
|       3400| Lahore|
|       3490| Lahore|
|       3690| Lahore|
+-----------+-------+
only showing top 20 rows

**15. Which cities generate the highest revenue?**

In [68]:
df.groupBy("city").sum("total_value").orderBy("sum(total_value)", ascending=False).show(50)

+----------------+----------------+
|            city|sum(total_value)|
+----------------+----------------+
|          Lahore|          466114|
|         Karachi|          435243|
|      Rawalpindi|          137747|
|       Islamabad|          130718|
|          Ghotki|           92000|
|      Faisalabad|           49739|
|          Multan|           42569|
|        Peshawar|           42129|
|       Hyderabad|           40787|
|         Sialkot|           35727|
|      Gujranwala|           28879|
|          Quetta|           16390|
|        Nowshera|           15840|
|       Wah Cantt|           13530|
|      Bahawalpur|           13249|
|      Abbottabad|           12750|
|  Rahim yar khan|            9579|
|          Gujrat|            9140|
|         Sahiwal|            8740|
|  Mingora (swat)|            7450|
|           DIGRI|            7140|
|         Lodhran|            6680|
|     RENALAKHURD|            6480|
|     Sheikhupura|            6260|
| Dera Ghazi Khan|            5580|
|    Chicha Watni|            5180|
|          GILGIT|            4880|
|        Mianwali|            4770|
|     ABDUL HAKIM|            4470|
|        Batkhela|            4370|
|        Khanewal|            4180|
|          Mardan|            4179|
|          Jhelum|            4170|
|           Okara|            4089|
|         Khanpur|            4080|
|   Toba Tek Sing|            3960|
|          Taxila|            3880|
|        Sargodha|            3870|
|      Tando Adam|            3780|
|    Bahawalnagar|            3580|
|       Hafizabad|            3580|
|       Pakpattan|            3390|
|       Liaqatpur|            3390|
|Dera Ismail Khan|            3390|
|    Dera ala yar|            3180|
|          Sukkur|            3080|
|        Mansehra|            3080|
|        Khairpur|            3080|
|          Turbat|            3080|
|         Raiwind|            2880|
+----------------+----------------+
only showing top 50 rows

**16. Which SKUs or categories are most popular?**

In [69]:
df.groupBy("Stock_Keeping_Unit").count().orderBy("count", ascending=False).show()

+------------------+-----+
|Stock_Keeping_Unit|count|
+------------------+-----+
|            101-12|   88|
|               Dng|   76|
|            101-15|   67|
|            201-12|   66|
|            101-18|   62|
|            201-18|   46|
|            201-15|   39|
|           Minim15|   33|
|             Zen12|   28|
|           Minim12|   26|
|             Zen16|   26|
|            Eidi2p|   26|
|               DIY|   16|
|            Minim9|   15|
|           Crclr15|   12|
|            001-12|   12|
|               pta|   11|
|          Silent15|   10|
|          Silent12|    8|
|          Silent18|    8|
+------------------+-----+
only showing top 20 rows

**17. Which order sources (Web, WhatsApp) lead to more sales?**

In [70]:
df.show(1)

+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|order_id|order_status|order_source|order_date|category|Stock_Keeping_Unit|quantity|sales|   city|total_value|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|               Dng|       1| 1590|Karachi|       1590|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+
only showing top 1 row

In [71]:
df.groupBy('order_source').sum('total_value').show()

+------------+----------------+
|order_source|sum(total_value)|
+------------+----------------+
|    Whatsapp|          333127|
|         Web|         1485974|
+------------+----------------+

**18. Which order statuses dominate?**

In [72]:
df.groupBy('order_status').count().show()

+------------+-----+
|order_status|count|
+------------+-----+
|     Shipped|  662|
|        Hold|   17|
|   Cancelled|  116|
|      Pickup|    1|
|      Booked|    1|
+------------+-----+

**19. Orders or Sales per month**

In [75]:
## Extract Month
from pyspark.sql.functions import month, to_date
df = df.withColumn("order_month", month(to_date("order_date", "dd/MM/yyyy")))
df.show()

+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
|order_id|order_status|order_source|order_date|category|Stock_Keeping_Unit|quantity|sales|   city|total_value|order_month|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|               Dng|       1| 1590|Karachi|       1590|          1|
|   14127|     Shipped|         Web|08/01/2025|      CK|               DIY|       1|  899|Karachi|        899|          1|
|   14213|     Shipped|         Web|19/01/2025|      CK|               DIY|       1|  899|Karachi|        899|          1|
|   14333|     Shipped|         Web|05/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|          2|
|   14397|     Shipped|         Web|16/02/2025|      CK|           Simply9|       1|  990|Karachi|        990|          2|
|   14517|     Shipped|         Web|19/03/2025|     GfT|            Eidi2p|       1|  999|Karachi|        999|          3|
|   14265|     Shipped|         Web|25/01/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|          1|
|   14325|     Shipped|         Web|03/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|          2|
|   14356|     Shipped|         Web|08/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|          2|
|   14451|     Shipped|         Web|26/02/2025|      CK|             Geo12|       1| 1090|Karachi|       1090|          2|
|   14765|     Shipped|         Web|23/05/2025|      CK|          Simply12|       1| 1090|Karachi|       1090|          5|
|    5462|     Shipped|    Whatsapp|05/03/2025|      WD|          Triangle|       1| 1090|Karachi|       1090|          3|
|   14171|     Shipped|         Web|13/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|          1|
|   14183|     Shipped|         Web|15/01/2025|      CK|            Gear12|       1| 1190|Karachi|       1190|          1|
|   14201|     Shipped|         Web|17/01/2025|     HNS|            201-12|       1| 1190|Karachi|       1190|          1|
|   14216|     Shipped|         Web|19/01/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|          1|
|   14291|     Shipped|         Web|28/01/2025|      CK|           Swirl15|       1| 1190|Karachi|       1190|          1|
|   14342|     Shipped|         Web|06/02/2025|      WD|           Circles|       1| 1190|Karachi|       1190|          2|
|   14342|     Shipped|         Web|06/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|          2|
|   14351|     Shipped|         Web|07/02/2025|      CK|           Minim12|       1| 1190|Karachi|       1190|          2|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
only showing top 20 rows

In [80]:
df.groupBy('order_month').count().orderBy('order_month').show()

+-----------+-----+
|order_month|count|
+-----------+-----+
|          1|  262|
|          2|  168|
|          3|   65|
|          4|  167|
|          5|  105|
|          6|   30|
+-----------+-----+

**20. Canceled vs Shipped orders — what % get canceled?**

In [89]:
## Count Order by Status
order_status_count=df.groupBy('order_status').count()
order_status_count.show()

+------------+-----+
|order_status|count|
+------------+-----+
|     Shipped|  662|
|        Hold|   17|
|   Cancelled|  116|
|      Pickup|    1|
|      Booked|    1|
+------------+-----+

In [87]:
## Get total number of order
total_orders = df.count()
total_orders

797

In [84]:
df.show(1)

+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
|order_id|order_status|order_source|order_date|category|Stock_Keeping_Unit|quantity|sales|   city|total_value|order_month|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
|    5447|     Shipped|    Whatsapp|04/01/2025|      CK|               Dng|       1| 1590|Karachi|       1590|          1|
+--------+------------+------------+----------+--------+------------------+--------+-----+-------+-----------+-----------+
only showing top 1 row

In [90]:
## Calculate Percentages
from pyspark.sql.functions import col, lit, round

# Add total_orders as a literal column to compute %
status_percent = order_status_count.withColumn("percent",
    round((col("count") / lit(total_orders)) * 100, 2)
)

status_percent.show()

+------------+-----+-------+
|order_status|count|percent|
+------------+-----+-------+
|     Shipped|  662|  83.06|
|        Hold|   17|   2.13|
|   Cancelled|  116|  14.55|
|      Pickup|    1|   0.13|
|      Booked|    1|   0.13|
+------------+-----+-------+